---
export interface Props {
    href: string;
    text: string;
    className?: string;
    variant: "primary" | "secondary";
}

const { href, text, className, variant } = Astro.props;

const getThemeStyle = (variant: "primary" | "secondary") => {
    if (variant === "primary") {
        return "bg-aqua border-transparent relative after:bg-[#172554] hover:border-[#172554]";
    }
    return "text-primary";
};

const getTextColor = (variant: "primary" | "secondary") => {
    if (variant === "primary") {
        return "text-white-400";
    }
    return "text-button";
};
---

<a href={href} class={`btn ${className}`}>
    <span class={`relative z-10`}>
        {text}
    </span>
</a>
