---
export interface Props {
    className?: string;
    variant: "primary" | "secondary";
}

const { className } = Astro.props;
---

<button class={`btn ${className}`}>
    <button class="btn"></button>
    <slot />
</button>
