<a href="/" class="relative flex items-center gap-3 logo" aria-label="Raleway">
    <span aria-hidden="true">[</span><span aria-hidden="true">W</span><span
        aria-hidden="true">M</span
    ><span aria-hidden="true">T</span><span aria-hidden="true">]</span>
</a>
