---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
import Paragraph from "../shared/Paragraph.astro";
---

<section>
    <Container
        className="my-10 py-6 w-full relative py-8 md:py-10 px-6 md:px-8 rounded-2xl bg-gradient-to-tr to-gray-200 bg-from-color"
    >
        <div class="absolute right-0 top-0 h-full w-full flex justify-end">
            <div
                class="w-28 h-28 overflow-hidden flex rounded-xl relative blur-2xl"
            >
                <span
                    class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
                ></span>
                <span
                    class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
                ></span>
                <span
                    class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
                ></span>
            </div>
        </div>

        <div class="absolute left-0 bottom-0 h-full w-full flex items-end">
            <div
                class="w-28 h-28 overflow-hidden flex rounded-xl relative blur-2xl"
            >
                <span
                    class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
                ></span>
                <span
                    class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
                ></span>
                <span
                    class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
                ></span>
            </div>
        </div>
        <div class="text-center max-w-3xl mx-auto">
            <Title>Past Clients</Title>
            <Paragraph className="lineUp py-6">
                Some brands we have had the pleasure of working with
            </Paragraph>
        </div>
        <div class="flex justify-center flex-wrap gap-4 brands">
            <div class="p-4 sm:p-5 group">
                <img
                    src="/logos/amansala.png"
                    width="250"
                    height="100"
                    alt="Amansala resorts"
                    class="ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
                />
            </div>
            <div class="p-4 sm:p-5 group">
                <img
                    src="/logos/ATC_logo.webp"
                    width="auto"
                    height="100"
                    alt="Adventure Tour Center"
                    class="ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
                />
            </div>
            <div class="p-4 sm:p-5 group">
                <img
                    src="/logos/Logo_jungle_gym_tulum.png"
                    width="250"
                    height="100"
                    alt="Tulum Jungle Gym"
                    class="ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
                />
            </div>
            <div class="p-4 sm:p-5 group">
                <img
                    src="/logos/paragon-logo.png"
                    width="200"
                    height="100"
                    alt="Paragon Skydive"
                    class="ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
                />
            </div>
        </div>
    </Container>
</section>
<style>
    .brands div {
        display: flex;
        align-items: center;
    }

    .brands div {
        view-timeline-name: --revealing-title;
        view-timeline-axis: block;

        animation: reveal linear both;
        animation-timeline: --revealing-title;

        animation-range: entry 25% cover 20%;
    }
</style>
