---
import { contentfulClient } from "../../lib/contentful";
import type { project } from "../../lib/contentful";

import Project from "../cards/Project.astro";
import Container from "../shared/Container.astro";

const entries = await contentfulClient.getEntries<project>({
    content_type: "project",
});

const projects = entries.items.map((item) => {
    const { title, description, url, thumbnail } = item.fields;
    return {
        title,
        url,
        description,
        thumbnail,
    };
});
---

<section id="Work">
    <Container className="space-y-10 md:sapce-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <h1
                class="text-heading-1 font-semibold text-2xl sm:text-3xl md:text-4xl"
            >
                Recent Work
            </h1>
            <p class="md:text-xl text-heading-2">
                Scroll down to see more
                <div
                    class="bgdetail absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-green-400 blur-3xl opacity-50"
                >
                </div>
                <div
                    class="bgdetail absolute p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-green-400 rounded-full blur-3xl opacity-60"
                >
                </div>

                <span
                    class="bgdetail absolute w-1/3 aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-aqua to-heading-3-400 opacity-40 blur-2xl left-2/4 bottom-1/4"
                ></span>
            </p>
        </div>
    </Container>
</section>

<section id="sectionPin">
    <!-- <span
        class="absolute right-4 bottom-12 w-24 h-24 rounded-3xl bg-primary blur-xl opacity-80"
    ></span> -->
    <div class="pin-wrap-sticky">
        <span
            class="w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-aqua to-primary absolute top-20 lg:left-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"
        ></span>
        <div class="pin-wrap">
            <h2>
                <span
                    class="absolute left-1/2 top-24 lg:top-28 w-24 h-24 rotate-90 skew-x-12 rounded-3xl bg-aqua blur-xl opacity-60 lg:opacity-95 lg:block hidden"
                ></span>
                 Each site is responsive, that means it looks good on any device
                or screen size
            </h2>
            {
                projects.map((project) => (
                    <Project
                        title={project.title}
                        description={project.description}
                        url={`${project.url}`}
                        thumbnail={project.thumbnail}
                    >
                        <span slot="icon">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="w-6 h-6"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
                                />
                            </svg>
                        </span>
                    </Project>
                ))
            }
        </div>
    </div>
</section>
<style>
    body {
        transition: 0.3s ease-out;
        overflow-x: hidden;
        max-width: 100%;
        width: 100%;
        overscroll-behavior: none;
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 16vw;
        }
    }

    @media (min-width: 768px) {
        #Work {
            background-position-y: -30rem;
        }

        .card {
            height: auto;
        }
    }

    @media (max-width: 480px) {
        #Work {
            background-position-y: -16rem;
        }
    }

    h2 {
        font-size: 2rem;
        max-width: 400px;
        color: rgb(var(--heading-2));
    }

    * {
        box-sizing: border-box;
    }

    section:not(#sectionPin) {
        min-height: 100vh;
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 2rem;
        padding: 50px 10vw;
        margin: auto;
        place-items: center;
        scroll-snap-align: center;
    }

    #sectionPin {
        height: 100vh;
        overflow: hidden;
        display: flex;
        left: 0;
    }

    .pin-wrap {
        height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 50px 10vw;
    }

    .pin-wrap > * {
        min-width: 60vmax;
        padding: 0 5vmax;
    }

    @supports (animation-timeline: scroll()) {
        h2 {
            animation: anim-lineUp ease-out;
            animation-timeline: scroll(root block);
            animation-range: 10% 26%;
        }
    }
    @supports (animation-timeline: view()) {
        @keyframes move {
            to {
                /* Move horizontally so that right edge is aligned against the viewport */
                transform: translateX(calc(-100% + 100vw));
                left: 0px;
            }
        }

        #sectionPin {
            /* Stretch it out, so that we create room for the horizontal scroll animation */
            height: 400vh;
            overflow: visible; /* To make position sticky work … */

            view-timeline-name: --section-pin-tl;
            view-timeline-axis: block;
        }

        .pin-wrap-sticky {
            /* Stick to Top */
            height: 100vh;
            width: 100vw;
            position: sticky;
            top: 0;
            width: 100vw;
            overflow-x: hidden;
        }

        .pin-wrap {
            height: 100vh;
            width: 250vmax;

            /* Hook animation */
            will-change: transform;
            animation: linear move forwards;

            /* Link animation to view-timeline */
            animation-timeline: --section-pin-tl;
            animation-range: contain 0% contain 100%;
        }
    }
</style>
