---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import LeftImg from "../components/sections/LeftImg.astro";
import Features from "../components/sections/Features.astro";
import CTA from "../components/sections/CTA.astro";
---

<Layout
	title="Websites for hotels, Vacation Rentals, Tour Operators, and everything in between"
>
	<!-- <span
		class="absolute left-1/2 top-24 lg:top-28 w-24 h-24 rotate-90 skew-x-12 rounded-3xl bg-aqua blur-xl opacity-60 lg:opacity-95 lg:block hidden"
	></span> -->
	<main class="flex flex-col gap-y-20 md:gap-y-16">
		<Hero />
		<LeftImg />
		<Features />
		<CTA />
	</main>
</Layout>
